font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
.bug-fontstopsfirstcssformloading{}
body{
  margin: -0.6% 8px 0 8px;
}
.container {
  max-width: 1440px;
  margin: auto;
}
/* -------------- HEADER CSS -------------- */
.rectangle {
  background-color: #333333;
  width: 1440px;
  height: 35px;
}
.spend-over-120-and {
  color: #FAFAFA;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}
.header {
    height: 100px;
    display: flex;
}
.search{
  width: 26%;
}
.searchclass{
  background-color: #F1F1F1;
  width: 190px;
  height: 37px;
  margin-top: 35px;
  margin-left: 152px;
  padding-left: 2%;
}
input::placeholder {
  color: black;
  font-family: Lora;
  padding-left: 14px;
}
input{
  border: none;
  font-family: Lora;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: #292D37;
  font-family: FontAwesome5ProRegular;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  position: relative;
    left: -40px;
}
.bitmap {
  /* width: 43px;
  height: 43px; */
}
/* img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
} */
.bitmap-holder{
  margin-left: 278px;
  margin-top: 35px;
}
.my-account {
  width: 20.7%;
  color: #333333;
  font-family: Lora;
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  margin-left: 278px;
  margin-top: 3.4%;
}
a {
  color: #333333;
  text-decoration: none;
  font-weight: 500;
}
.fa-shopping-bag {
 margin-left: 4%;
}
/* -------------- HEADER CSS END --------------*/
/* -------------- NAV BAR -------------- */
.topnav {
  color: #333333;
  font-family: Lora;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  margin: 17px 15% 17px 20%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.topnav a:hover{
  text-decoration: underline;
}
.active {
  font-weight: bold;
  color: #ac3434;
}
/* -------------- NAV BAR END --------------*/
/* -------------- TopBar -------------- */
.topBar {
  background-color: #A01818;
  width: 1440px;
}
.shipping {
  width: 35%;
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.worldwide-shipping-a {
  color: #FAFAFA;
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
}
.fa-globe-americas {
  margin: 0px 6px 0px 0px;
  font-size: 17px;
}
.freedelivery {
  width: 35%;
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.free-uk-delivery-on {
  color: #FAFAFA;
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
}
.fa-truck {
  margin: 0px 6px 0px 0px;
  font-size: 17px;
}
.payments {
  width: 29%;
  display: inline-block;
}
.secure-online-payments {
  color: #FAFAFA;
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
}
.fa-shield-alt {
  margin: 0px 6px 0px 0px;
  font-size: 17px;
}
/* -------------- TopBar -------------- */
/* */
.inner-container {
  width: 1179px;
  margin: 0 auto;
}
.innerBar {
  background-color: #F1F1F1;
  width: 1179px;
  height: 40px;
  margin: 20px auto;
}
.fa-home {
  color: #333333;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.38px;
  line-height: 18px;
  text-align: left;
}
.breadcrumb {
  color: #333333;
  font-family: Lora;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-family: Roboto;
}
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}
/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #333333;
  text-decoration: none;
}
/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ---------------IMAGE SLIDER -------------- */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}
.row {
  margin: 20px 0 0 15%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev{
  left: -81%;
  display: inline-block;
}
.prev,
.next {
  cursor: pointer;
  position: relative;
  width: auto;
  margin-top: 15px;
  color: #A01818;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0%;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 15.66%;
  margin-left: 4%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* ---------------IMAGE SLIDER END ----------------*/
.container-IMG {
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  width: 45%;
  height: 600px;
  display: inline-block;
}
.numbertext {
  display: none !important;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* img container and icon */
.imgcontainer {
  width: 427px;
  margin: 20px 0px 0px 40px;
}
.fa-search-plus {
  position: absolute;
  top: 26%;
  left: 11%;
  font-size: 28px;
  padding: 10px 10px 10px 12px;
  background-color: #DADADA;
  opacity: 0.3984375;
}
/* END */
/* ProductInformation */
.ProductInformation {
  display: inline-block;
  float: right;
  width: 620px;
}
.ProductTitle {
  color: #A01818;
  font-family: Lora;
  font-size: 15px;
  font-weight: 400;
  line-height: 33px;
  width: 620px;
  text-align: left;
}
.checked {
  color: #333333;
}
.h1Title {
  width: 70%;
  display: inline-block;
  color: #A01818;
  font-size: 30px;
  font-weight: 400;
  font-family: Lora;
}
.rating {
  display: inline-block;
  color: #A01818;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.86px;
  line-height: 0px;
}
.h3Title {
  margin-top: -10px;
  width: 35%;
  color: #333333;
  font-family: Lora;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
}
.Reviews{
  text-align: center;
  margin: -10px 88px 0px 0px;
  line-height: 0px;
  float: right;
  font-family: Roboto;
}
.sale-229-00 {
  color: #A01818;
  font-family: Lora;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 22px;
  width: 125px;
  text-align: left;
  display: inline-block;
}
.old289-00 {
  color: #333333;
  font-family: Lora;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 19px;
  width: 71px;
  text-align: left;
  text-decoration: line-through;
  display: inline-block;
}
.LimitedStock {
  background-color: #E7D06F;
  opacity: 0.8004557291666666;
  height: 40px;
}
.hurry-limited-stock {
  color: #333333;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
.dropdown {
  display: inline-block;
  margin-right: 10%;
}
.LabelSelect{
  color: #333333;
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.selects{
  display: flex;
  border: 1px solid #333333;
  width: 113px;
  height: 38px;
  margin-top: 7%;
  color: #333333;
}
.Quantity {
  display: inline-block;
}
.Labelqty {
  color: #333333;
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.button-container {
  display: inline-block;
}
.qty {
  display: flex;
  border: 1px solid #333333;
  color: #333333;
  width: 42px;
  height: 35px;
  text-align: center;
  margin: 10% auto;
}
.containerr {
  margin: 50px 0 0 0;
}
.cart-qty-plus{
  color: inherit;
  border: none;
  padding: 10px 15px 11px 15px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #FFFFFF;
  font-family: FontAwesome5ProRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  position: relative;
  background: #333333;
  left: -35px;
}
.cart-qty-minus{
  left: -198%;
  color: inherit;
  border: none;
  padding: 10px 15px 11px 15px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #FFFFFF;
  font-family: FontAwesome5ProRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  position: relative;
  background: #333333;
}
select {
  background-color: white;
  border: thin solid blue;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* arrows */
select.selects {
  background-image: linear-gradient(45deg, transparent 50%, #ffffff 50%),
   linear-gradient(135deg, #ffffff 50%, transparent 50%),
   linear-gradient(to right, #333333, #333333);
   background-position: calc(100% - 20px) calc(1em + 2px),
 calc(100% - 15px) calc(1em + 2px),
 100% 0;
 background-size: 5px 5px,
 5px 5px,
 2.5em 2.5em;
 background-repeat: no-repeat;
}
.AddToBag{
  display: block;
  background-color: #A01818 !important;
  width: 209px;
  height: 50px;
  position: unset !important;
  text-align: center !important;
  color: #FAFAFA !important;
  font-family: Lora !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 19px;
  margin-top: 7%;
  display: inline-block;
}
.sizeGuide {
  background-color: #333333;
  width: 151px;
  height: 35px;
  display: inline-block;
  color: #FAFAFA !important;
  left: 0px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
}
.fa-ruler {
  margin: 0px 11px 0 11px;
  font-size: 15px;
}
.favicon {
  background-color: #FFFFFF;
  border: 1px solid #333333;
  opacity: 0.6367885044642857;
  display: inline-block;
  margin: 0px 0 0 35.5%;
  width: 35px;
  height: 35px;
}
.socialicon{
  background-color: #FFFFFF;
  border: 1px solid #333333;
  opacity: 0.6367885044642857;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0px 0 0 2%;
}
.fa-heart {
  padding: 10px 0 0 9px;
}
.fa-share-alt{
      padding: 10px 0 0 9px;
}
.ProductDesc {
  color: #333333;
font-family: Roboto;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.4px;
line-height: 20px;
width: 501px;
text-align: left;
}
.ProductDesc p a{
  text-decoration: underline;
}
.productHolder {
  margin-bottom: 8%;
}
.left-text{
  float: left;
  //width: 50%;
  margin-right: 5%;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 20px;
  width: 483px;
}
.right-text {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 20px;
  text-align: left;
}
hr {
 color: #DADADA;
}
